<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc
      http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!-- use annotation based property in classes -->
    <context:annotation-config />

    <!-- embedded hsql database -->
    <!-- note here the jdbc namespace -->
    <jdbc:embedded-database id="dataSource" type="HSQL">
        <jdbc:script location="classpath:schema.sql" />
        <!-- optional, holds initial data to be inserted into the table -->
        <jdbc:script location="classpath:test-data.sql" />
    </jdbc:embedded-database>

    <!-- create jdbctemplate using dataSource -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- data access layer -->
    <bean id="customerDao" class="com.roytuts.spring.hsqldb.model.Customer.CustomerDaoImpl" />
    <!-- business layer -->
    <bean id="customerService" class="com.roytuts.spring.hsqldb.model.Customer.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao" />
    </bean>

</beans>